.git
.env*
node_modules
vendor
data
database/*.sqlite*
database/.app-key
storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
